body{
  background: #FF97B0;
  color: #ECEFF1;
  font-family: Helvetica, sans-serif;

  font-size: 16px;
  line-height: 1.4;
}
a{
  color: white;
  text-decoration: none;
  font-family: serif;
  font-weight: bolder;

}
a:hover{
  color: #E6E2E2;

}
img{
    max-width: 100%;
    border-radius: 20px;

}
h1{
    text-align: center;
}
h2{
    text-align: center;

}

h3{
    text-align: center;
    color: #EFEAEAC4;
}
main {
  display: block;
  margin: auto;

  max-width:500px;

}
/* I centered the main tag */
.text-center{
    text-align: center;

}

ol{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 130px;

}

.center2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 242px;
}

.center3 {
  display: block;
  margin-right: auto;
  margin-left: auto;

}

.center4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 404px;
}

.center5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 122px;
}

.center6 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 432px;

}

.bccolor {
  background-color: #FD215C3D;
  /* margin: 200px; */
  padding: 50px;
  /* margin-bottom: 0px; */
  /* margin-top: 0px; */
}

.play {

  width:500px;

}
